# Project: [Video game sales](https://github.com/XuanShay/XuanShay.github.io)

Group Memebers: Yuxuan Zhang, Haowen Weng

This project is to dig into video game sales for investigating some tendencies and conclusions about the video game industries. 

For this project, we are going to utilize pandas first, so we import it here

In [3]:
import pandas as pd
pd.DataFrame

pandas.core.frame.DataFrame

Our dataset is generated by a scrape of [VGChartz](https://www.vgchartz.com/). It contains a list of video games with sales greater than 100,000 copies in worldwide.

Now we are doing some ETL based on what we have now

In [4]:
vgs = pd.read_csv("../vgsales.csv") #dataframe vgs: video game sales
vgs.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

For now we only got one dataset to work with, we will see if there are any futher question we want to explore more.
There are some insight about this dataset that we might be interested and answer some question we mention in our plan document.

One quick example of that will be "What are those games published by Ubisoft?"

In [7]:
ubi = vgs.set_index("Publisher")
ubi.loc["Ubisoft"]

,Rank,Name,Platform,Year,Genre,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Publisher,,,,,,,,,,
Ubisoft,61,Just Dance 3,Wii,2011.0,Misc,6.05,3.15,0.00,1.07,10.26
Ubisoft,69,Just Dance 2,Wii,2010.0,Misc,5.84,2.89,0.01,0.78,9.52
Ubisoft,103,Just Dance,Wii,2009.0,Misc,3.51,3.03,0.00,0.73,7.27
Ubisoft,112,Just Dance 4,Wii,2012.0,Misc,4.14,2.21,0.00,0.56,6.91
Ubisoft,129,Assassin's Creed III,PS3,2012.0,Action,2.64,2.56,0.16,1.14,6.50
...,...,...,...,...,...,...,...,...,...,...
Ubisoft,16508,Rabbids Invasion: The Interactive TV Show,XOne,2014.0,Misc,0.00,0.01,0.00,0.00,0.01
Ubisoft,16517,National Geographic Panda (JP sales),DS,2008.0,Simulation,0.00,0.00,0.01,0.00,0.01
Ubisoft,16547,Imagine Figure Skater (JP sales),DS,2007.0,Sports,0.00,0.00,0.01,0.00,0.01
Ubisoft,16587,Bust-A-Move 3000,GC,2003.0,Puzzle,0.01,0.00,0.00,0.00,0.01
Ubisoft,16594,Myst IV: Revelation,PC,2004.0,Adventure,0.01,0.00,0.00,0.00,0.01