https://xuanshay.github.io

# Project: Video game sales

Group Memebers: Yuxuan Zhang, Haowen Weng

The project aims to dig into the market of cideo games. The projects investigares tendencies and conclusions about the video game industries.

---

### Datasets:
* Video Games Sales  
    * Downloaded from https://www.kaggle.com/gregorut/videogamesales  
    * The dataset contains a list of video games with sales greater than 100,000 copies. The release year of the games are between 1980 and 2020
* Steam database
    * Scraped from https://store.steampowered.com/stats/
    * The website introduced games with most steam users. It includes both current players and the peak of the day.

---

### Purpose and Questions:
* How does the shares of the market between different companies change during the past decade?
* Is there a difference in consumer's preference throughout different regions?
* The different in size of the market of different platforms.

---

## Data Generalization, Extraction, Transfrom, and Load

In [1]:
!pip install beautifulsoup4
!pip install requests
!pip install pandas
!pip install numpy
!pip install html5lib
!pip3 install lxml

!pip install html5lib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: beautifulsoup4 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from beautifulsoup4) (2.2.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests) (2.0.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from requests) (2021.10.8)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (1.21.3)
Requirement already satisfied: pytz>=2017.3 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (1.21.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in /Users/whw/Library/Python/3.9/lib/python/site-packages (1.1)
Requirement already satisfied: six>=1.9 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib) (0.5.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: lxml in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (4.6.3)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in /Users/whw/Library/Python/3.9/lib/python/site-packages (1.1)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib) (1.16.0)

In [2]:
!pip install html5lib

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: html5lib in /Users/whw/Library/Python/3.9/lib/python/site-packages (1.1)
Requirement already satisfied: webencodings in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages (from html5lib) (1.16.0)

In [3]:
#%matplotlib inline
import numpy as np
import pandas as pd
import requests
import numpy
import lxml
from bs4 import BeautifulSoup
import re
import html5lib

### Data Set 1: Video Games Slaes

Our dataset is generated by a scrape of [VGChartz](https://www.vgchartz.com/). It contains a list of video games with sales greater than 100,000 copies in worldwide.

Now we are doing some ETL based on what we have now

In [4]:
vgs = pd.read_csv("../vgsales.csv") #dataframe vgs: video game sales
vgs.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

Question 1:
How does the shares of the market between different companies change during the past decade? (*inner cause? e.g. A great game realse?)

We plan to find out each publisher's game sales since 2010 till whenever we have data (2017 in this case). We will then merge the information by ploting the data out and visualize the change of shares of market by each company. Moreover, we can select those companies with a peak in game sales and dig out which game is remarkable

In [5]:
Games0 = vgs.loc[vgs["Year"]==2010].groupby("Publisher")["Global_Sales"].sum()
Games1 = vgs.loc[vgs["Year"]==2011].groupby("Publisher")["Global_Sales"].sum()
Games2 = vgs.loc[vgs["Year"]==2012].groupby("Publisher")["Global_Sales"].sum()
Games3 = vgs.loc[vgs["Year"]==2013].groupby("Publisher")["Global_Sales"].sum()
Games4 = vgs.loc[vgs["Year"]==2014].groupby("Publisher")["Global_Sales"].sum()
Games5 = vgs.loc[vgs["Year"]==2015].groupby("Publisher")["Global_Sales"].sum()
Games6 = vgs.loc[vgs["Year"]==2016].groupby("Publisher")["Global_Sales"].sum()
Games7 = vgs.loc[vgs["Year"]==2017].groupby("Publisher")["Global_Sales"].sum()

A quick peek on some year

In [6]:
Games0

Publisher
505 Games                                 14.26
5pb                                        0.29
7G//AMES                                   0.01
ASCII Media Works                          0.12
Abylight                                   0.08
                                          ...
Virtual Play Games                         0.06
Warner Bros. Interactive Entertainment    15.57
XS Games                                   0.24
Yeti                                       0.11
Zoo Games                                  1.10
Name: Global_Sales, Length: 142, dtype: float64

In [7]:
Games3

Publisher
505 Games                                  2.31
5pb                                        0.14
Activision                                43.49
Aerosoft                                   0.02
Agatsuma Entertainment                     0.03
                                          ...
Trion Worlds                               1.14
Ubisoft                                   27.39
Unknown                                    0.06
Warner Bros. Interactive Entertainment    20.36
Xseed Games                                0.19
Name: Global_Sales, Length: 76, dtype: float64

Question2: Is there a difference in consumer's preference throughout different regions?
We plan to investigate each Genre of game's sales in different regions. By summing the sales, we can find out the greatest selling genre in each region. For the futher analysis, we will compare each genre's proportion with its own region latter and visualize it.

In [8]:
Games6

Publisher
505 Games                                 0.54
5pb                                       0.04
Activision                                3.67
Aksys Games                               0.12
Alternative Software                      0.11
                                          ...
Ubisoft                                   9.76
Unknown                                   0.16
Warner Bros. Interactive Entertainment    3.52
Yeti                                      0.02
dramatic create                           0.03
Name: Global_Sales, Length: 68, dtype: float64

In [9]:
NA=vgs.groupby("Genre")["NA_Sales"].sum()
EU=vgs.groupby("Genre")["EU_Sales"].sum()
JP=vgs.groupby("Genre")["JP_Sales"].sum()
Other=vgs.groupby("Genre")["Other_Sales"].sum()

In [10]:
NA

Genre
Action          877.83
Adventure       105.80
Fighting        223.59
Misc            410.24
Platform        447.05
Puzzle          123.78
Racing          359.42
Role-Playing    327.28
Shooter         582.60
Simulation      183.31
Sports          683.35
Strategy         68.70
Name: NA_Sales, dtype: float64

In [11]:
EU

Genre
Action          525.00
Adventure        64.13
Fighting        101.32
Misc            215.98
Platform        201.63
Puzzle           50.78
Racing          238.39
Role-Playing    188.06
Shooter         313.27
Simulation      113.38
Sports          376.85
Strategy         45.34
Name: EU_Sales, dtype: float64

In [12]:
JP

Genre
Action          159.95
Adventure        52.07
Fighting         87.35
Misc            107.76
Platform        130.77
Puzzle           57.31
Racing           56.69
Role-Playing    352.31
Shooter          38.28
Simulation       63.70
Sports          135.37
Strategy         49.46
Name: JP_Sales, dtype: float64

In [13]:
Other

Genre
Action          187.38
Adventure        16.81
Fighting         36.68
Misc             75.32
Platform         51.59
Puzzle           12.55
Racing           77.27
Role-Playing     59.61
Shooter         102.69
Simulation       31.52
Sports          134.97
Strategy         11.36
Name: Other_Sales, dtype: float64

Question3: The different in size of the market of different platforms?

Our plan is to find out the total sales of each game in every platform in this dataset, but we might meet a trouble here since Game quality is a factor influencing sales. The sales can't explain everything about a size of the market. We will see if we can find another dataset or a better way to analysis our data.

In [14]:
platform=vgs.groupby("Platform")["Global_Sales"].sum()
platform

Platform
2600      97.08
3DO        0.10
3DS      247.46
DC        15.97
DS       822.49
GB       255.45
GBA      318.50
GC       199.36
GEN       28.36
GG         0.04
N64      218.88
NES      251.07
NG         1.44
PC       258.82
PCFX       0.03
PS       730.66
PS2     1255.64
PS3      957.84
PS4      278.10
PSP      296.28
PSV       61.93
SAT       33.59
SCD        1.87
SNES     200.05
TG16       0.16
WS         1.42
Wii      926.71
WiiU      81.86
X360     979.96
XB       258.26
XOne     141.06
Name: Global_Sales, dtype: float64

### Data Set 2: Steam database

First, we scrap and generate the dataframe using several pandas functions

In [51]:
header = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'}
response = requests.get('https://store.steampowered.com/stats/',headers=header)
resource = response.text

In [52]:
souped_resource = BeautifulSoup(resource,"html.parser")
prettify_resource = BeautifulSoup.prettify(souped_resource)
soup = BeautifulSoup(prettify_resource)
table_found = soup.find("div",{'id' : "detailStats"})

In [70]:
table = pd.read_html(str(table_found))

In [71]:
df_steam = pd.DataFrame(table[0])

In [72]:
df_steam

                  0           1   2                                 3   4
0   Current Players  Peak Today NaN                              Game NaN
1               NaN         NaN NaN                               NaN NaN
2            316599      664867 NaN                            Dota 2 NaN
3            311149      770805 NaN  Counter-Strike: Global Offensive NaN
4            139970      323384 NaN               PUBG: BATTLEGROUNDS NaN
5             98673      245629 NaN                      Apex Legends NaN
6             67088       84295 NaN                   Team Fortress 2 NaN
7             59099       61894 NaN                              MIR4 NaN
8             53030      109484 NaN                Grand Theft Auto V NaN
9             42082      108245 NaN                NARAKA: BLADEPOINT NaN
10            41370       63145 NaN                  Wallpaper Engine NaN
11            38917       67264 NaN                         Destiny 2 NaN

In [73]:
df_steam = df_steam.loc[2:]

In [74]:
df_steam =df_steam.drop(columns = 2)
df_steam =df_steam.drop(columns = 4)

In [75]:
df_steam.columns=['Current Players','Peak Today','Game']

In [76]:
df_steam

   Current Players Peak Today                              Game
2           316599     664867                            Dota 2
3           311149     770805  Counter-Strike: Global Offensive
4           139970     323384               PUBG: BATTLEGROUNDS
5            98673     245629                      Apex Legends
6            67088      84295                   Team Fortress 2
7            59099      61894                              MIR4
8            53030     109484                Grand Theft Auto V
9            42082     108245                NARAKA: BLADEPOINT
10           41370      63145                  Wallpaper Engine
11           38917      67264                         Destiny 2